{% extends "base.html" %}

{% block content %}

<h1>The One piece</h1>

<p>
    hey nice to see you again!
    Your flags are with me!
</p>
<p>
    If i dont know <span class="fw-bold">you</span> please just go.
    This is a top-secret flag.
    Well, i outplayed you again, never you gonna find it <code>MCSC</code> always fakin it!
    Hahahahaha looool.
</p>

<hr/>

<form method="post">
    <div class="mb-3">
        <label for="id" class="form-label">Flag ID</label>
        <input type="text" class="form-control" id="id" name="id">
    </div>
    <button type="submit" class="btn btn-success">Search</button>
</form>


{% endblock %}
